.ninth-outline-text {
    position: absolute;
    width: 907px;
    height: 153px;
    left: calc(50% - 907px / 2 - 360px);
    font-family: "Neo Robotix";
    font-style: italic;
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    top: 10px;
    white-space: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  }
  
  .ninth-no-outline-text {
    position: absolute;
    width: 500px;
    height: 153px;
    left: calc(50% - 907px / 2 - 150px);
    font-family: "Neo Robotix";
    font-style: italic;
    font-weight: 400;
    font-size: 65px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.065em;
    top: 16px;
    white-space: nowrap;
    color: white;
  }